.bg-darker {
    background-color: #1a1a2e;
    min-height: 90vh;
}

.bg-dark-input {
    background-color: #16213e !important;

    &:focus {
        background-color: #1f2b4d !important;
        color: white;
        border-color: #0d6efd;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }
}

.card {
    background-color: #16213e !important;
}