.navbar {
    padding: 1rem 0;
    background-color: #1a1a2e !important; // Deep blue/black

    .navbar-brand {
        font-size: 1.5rem;
        letter-spacing: 1px;

        .text-primary {
            color: #0d6efd !important;
        }
    }

    .nav-link {
        font-weight: 500;
        margin-left: 1rem;
        position: relative;
        padding-bottom: 2px;

        &.active {
            color: #fff !important;

            &::after {
                width: 100%;
            }
        }

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #0d6efd;
            transition: width 0.3s ease;
        }

        &:hover::after {
            width: 100%;
        }
    }
}